<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'micro/style.css' %}" />
  <title>Scalica</title>
</head> 
<body>
  <div id="header">
  {% block header %}
      {% if user.is_authenticated %}
        {{ user.username }}
        <a href="{% url 'micro:logout' %}">Log Out</a>
      {% else %}
        <a href="{% url 'micro:login' %}">Log In</a>
      {% endif %}
    {% endblock header %}
  </div>
  <div id="nav">
  {% block nav %}{% endblock nav %}
  </div>
  <div id="content">
  {% block content %}{% endblock content %}
  </div>
  <div id="footer">
    {% block footer %}<p>Copyright</p>{% endblock footer %}
  </div>
</body>
</html>
