{% extends "micro/base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block sidebar %}
<img src="{% static "micro/images/user.png" %}" alt="Generic User"/> <br>
{{ user.username }}
{% endblock %}
{% block content %}
{{ my_post.text }} ({{ my_post.pub_date|naturaltime }})
<form action="/micro/post/" method="post">
  {% csrf_token %}
  {{ post_form }}
  <input type="submit" value="Submit" />
</form>
{% if post_list %}
  <ul>
    {% for post in post_list %}
      <li>
      {{ post.text }} by
      <a href="{% url 'micro:stream' post.user.id %}">
        {{ post.user.username }}
      </a>
        ({{ post.pub_date|naturaltime }})
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts are available.</p>
{% endif %}
{% endblock %}
